@charset "UTF-8";
body {
  font-family: "Roboto", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100vh;
}

.header .header-top {
  width: 1300px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 0 15px 0;
}

.header .header-top .header-navigation nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .header-top .header-navigation nav ul li {
  margin-right: 20px;
}

.header .header-top .header-navigation nav ul li a {
  font-size: 14px;
  line-height: 16px;
  color: #94A2A8;
  text-decoration: none;
}

.header .header-top .header-navigation nav ul li a:hover, .header .header-top .header-navigation nav ul li a:focus {
  -webkit-filter: brightness(0.5);
          filter: brightness(0.5);
  -webkit-transition: 0.1s linear;
  transition: 0.1s linear;
}

.header .header-top .header-navigation nav ul li a:active {
  -webkit-filter: brightness(0.75);
          filter: brightness(0.75);
  -webkit-transition: 0.1s linear;
  transition: 0.1s linear;
}

.header .header-top .header-address {
  margin-left: auto;
}

.header .header-top .header-address ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header-top .header-address ul li {
  margin-right: 61px;
}

.header .header-top .header-address ul li a {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #384951;
  text-decoration: none;
}

.header .header-top .header-address ul li a:hover, .header .header-top .header-address ul li a:focus {
  text-decoration: underline;
}

.header .header-top .header-address ul li:nth-child(2) {
  margin: 0;
}

.header .header-top .header-address ul li:nth-child(2) address {
  font-size: 14px;
  line-height: 16px;
  color: #94A2A8;
}

.header .header-top .header-address ul li:nth-child(2) address span {
  color: #D7E2E8;
  margin-right: 5px;
}

.header .devider {
  height: 1px;
  background-color: #D7E2E8;
}

.header .header-bottom {
  width: 1300px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0 22px 0;
}

.header .header-bottom a {
  margin-right: 78px;
}

.header .header-bottom a img {
  width: 144px;
  height: 82px;
}

.header .header-bottom .header-menu {
  font-size: 14px;
  line-height: 16px;
  color: #008DD2;
  padding: 13px 37px 14px 69px;
  background: #FFFFFF;
  border: 1px solid #008DD2;
  border-radius: 4px;
  text-decoration: none;
  margin-right: 30px;
  position: relative;
}

.header .header-bottom .header-menu svg {
  position: absolute;
  top: 15px;
  left: 15px;
}

.header .header-bottom .header-menu:hover {
  color: #ffffff;
  background: #008DD2;
  border: 1px solid #ffffff;
  -webkit-transition: 0.1s linear;
  transition: 0.1s linear;
}

.header .header-bottom .header-menu:hover svg rect {
  fill: #ffffff;
}

.header .header-bottom form {
  position: relative;
}

.header .header-bottom form label input {
  font-size: 14px;
  line-height: 16px;
  color: #A6B9C2;
  padding: 13px 38px 14px 20px;
  background: #FFFFFF;
  border: 1px solid #D7E2E8;
  border-radius: 4px;
  width: 600px;
}

.header .header-bottom form label input::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 16px;
  color: #A6B9C2;
}

.header .header-bottom form label input:-ms-input-placeholder {
  font-size: 14px;
  line-height: 16px;
  color: #A6B9C2;
}

.header .header-bottom form label input::-ms-input-placeholder {
  font-size: 14px;
  line-height: 16px;
  color: #A6B9C2;
}

.header .header-bottom form label input::placeholder {
  font-size: 14px;
  line-height: 16px;
  color: #A6B9C2;
}

.header .header-bottom form label svg {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}

.header .header-bottom form label svg:hover, .header .header-bottom form label svg:focus {
  -webkit-filter: brightness(0.5);
          filter: brightness(0.5);
}

.header .header-bottom form label svg:active {
  -webkit-filter: brightness(0.75);
          filter: brightness(0.75);
}

.header .header-bottom .cart-wrapper {
  width: 137px;
  height: 37px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 30px;
}

.header .header-bottom .cart-wrapper img {
  margin-right: 15px;
}

.header .header-bottom .cart-wrapper .cart-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header .header-bottom .cart-wrapper .cart-links a:first-child {
  font-size: 14px;
  line-height: 16px;
  color: #008DD2;
  margin: 0 0 5px 0;
}

.header .header-bottom .cart-wrapper .cart-links a:last-child {
  font-size: 14px;
  line-height: 16px;
  color: #A6B9C2;
  text-decoration: none;
  margin: 0;
}

.main-intro {
  width: 1300px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 72px;
}

.main-intro img {
  max-width: 857px;
  height: 370px;
}

.main-intro img:nth-child(2) {
  max-width: 413px;
  max-height: 370px;
}

.main-items,
.recomended-items {
  width: 1300px;
  margin: 0 auto;
}

.main-items h2,
.recomended-items h2 {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #4BDEB2;
  padding-bottom: 53px;
}

.main-items .items-wrapper,
.recomended-items .items-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-items .items-wrapper .item-wrapper,
.recomended-items .items-wrapper .item-wrapper {
  width: 303px;
  height: 420px;
  border: 2px solid #ffffff;
  border-radius: 4px;
  margin-bottom: 50px;
  cursor: pointer;
}

.main-items .items-wrapper .item-wrapper:hover, .main-items .items-wrapper .item-wrapper:focus,
.recomended-items .items-wrapper .item-wrapper:hover,
.recomended-items .items-wrapper .item-wrapper:focus {
  border: 2px solid #D7E2E8;
}

.main-items .items-wrapper .item-wrapper:active,
.recomended-items .items-wrapper .item-wrapper:active {
  border: 2px solid #D7E2E8;
}

.main-items .items-wrapper .item-wrapper img,
.recomended-items .items-wrapper .item-wrapper img {
  max-width: 100%;
  padding: 0 21px 19px 21px;
}

.main-items .items-wrapper .item-wrapper .item-category,
.recomended-items .items-wrapper .item-wrapper .item-category {
  font-size: 12px;
  line-height: 20px;
  color: #78C6EC;
  padding: 0 21px 0 21px;
}

.main-items .items-wrapper .item-wrapper .item-title,
.recomended-items .items-wrapper .item-wrapper .item-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #000000;
  padding: 0 21px 0 21px;
  padding-bottom: 10px;
}

.main-items .items-wrapper .item-wrapper .item-description,
.recomended-items .items-wrapper .item-wrapper .item-description {
  font-size: 14px;
  line-height: 23px;
  color: #94A2A8;
  padding: 0 21px 0 21px;
}

.main-items .items-wrapper .item-wrapper .item-description:last-of-type,
.recomended-items .items-wrapper .item-wrapper .item-description:last-of-type {
  padding-bottom: 6px;
}

.main-items .items-wrapper .item-wrapper .item-link,
.recomended-items .items-wrapper .item-wrapper .item-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #008DD2;
  padding: 0 21px 0 21px;
}

.video {
  width: 1300px;
  margin: 0 auto;
  padding-bottom: 89px;
}

.video h2 {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #384951;
  padding-top: 7px;
  padding-bottom: 53px;
}

.video .videos-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.video .videos-wrapper iframe {
  max-width: 413px;
  max-height: 260px;
}

.partners {
  width: 1300px;
  margin: 0 auto;
  padding-bottom: 101px;
}

.partners h2 {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #384951;
  padding-bottom: 49px;
}

.partners .partners-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.partners .partners-wrapper img {
  -o-object-fit: contain;
     object-fit: contain;
}

.footer {
  background-color: #008DD2;
}

.footer .footer-wrapper {
  width: 1300px;
  margin: 0 auto;
  padding: 59px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer-wrapper a {
  margin-right: 78px;
}

.footer .footer-wrapper a img {
  max-width: 144px;
  max-height: 82px;
}

.footer .footer-wrapper p {
  font-size: 12px;
  line-height: 20px;
  color: #B1D6E8;
  margin-right: 162px;
}

.footer .footer-wrapper ul:nth-child(2) {
  margin-left: 51px;
}

.footer .footer-wrapper ul li a {
  font-size: 12px;
  line-height: 28px;
  color: #FFFFFF;
  text-decoration: none;
}

.footer .footer-wrapper ul li .footer-tel {
  padding-bottom: 8px;
}

.footer .footer-wrapper ul li .footer-tel a {
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}

.footer .footer-wrapper ul li address {
  font-size: 14px;
  line-height: 16px;
  color: #B1D6E8;
}

.catalog,
.contacts,
.video-content,
.product-content,
.recomdended-items {
  width: 1300px;
  margin: 0 auto;
  padding-bottom: 10px;
}

.catalog .breadcrumbs,
.contacts .breadcrumbs,
.video-content .breadcrumbs,
.product-content .breadcrumbs,
.recomdended-items .breadcrumbs {
  padding-top: 48px;
  padding-bottom: 48px;
}

.catalog .breadcrumbs a,
.contacts .breadcrumbs a,
.video-content .breadcrumbs a,
.product-content .breadcrumbs a,
.recomdended-items .breadcrumbs a {
  font-size: 14px;
  line-height: 16px;
  color: #A6B9C2;
  text-decoration: none;
}

.catalog .breadcrumbs a:nth-of-type(2),
.contacts .breadcrumbs a:nth-of-type(2),
.video-content .breadcrumbs a:nth-of-type(2),
.product-content .breadcrumbs a:nth-of-type(2),
.recomdended-items .breadcrumbs a:nth-of-type(2) {
  color: #829096;
}

.catalog .breadcrumbs span,
.contacts .breadcrumbs span,
.video-content .breadcrumbs span,
.product-content .breadcrumbs span,
.recomdended-items .breadcrumbs span {
  color: #A6B9C2;
}

.catalog h2,
.contacts h2,
.video-content h2,
.product-content h2,
.recomdended-items h2 {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #384951;
  padding-bottom: 53px;
}

.catalog .filter-wrapper,
.contacts .filter-wrapper,
.video-content .filter-wrapper,
.product-content .filter-wrapper,
.recomdended-items .filter-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 50px;
}

.catalog .filter-wrapper span,
.contacts .filter-wrapper span,
.video-content .filter-wrapper span,
.product-content .filter-wrapper span,
.recomdended-items .filter-wrapper span {
  font-size: 14px;
  line-height: 16px;
  color: #384951;
  margin-right: 14px;
}

.catalog .filter-wrapper a,
.contacts .filter-wrapper a,
.video-content .filter-wrapper a,
.product-content .filter-wrapper a,
.recomdended-items .filter-wrapper a {
  background: #FFFFFF;
  border: 1px solid #D7E2E8;
  border-radius: 4px;
  padding: 13px 78px 14px 20px;
  font-size: 14px;
  line-height: 16px;
  color: #94A2A8;
  position: relative;
  text-decoration: none;
}

.catalog .filter-wrapper a svg,
.contacts .filter-wrapper a svg,
.video-content .filter-wrapper a svg,
.product-content .filter-wrapper a svg,
.recomdended-items .filter-wrapper a svg {
  position: absolute;
  top: 18px;
  right: 15px;
}

.catalog-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.catalog-content .sidebar-menu {
  width: 303px;
}

.catalog-content .sidebar-menu ul li {
  background: #FFFFFF;
  border-left: 1px solid #D7E2E8;
  border-right: 1px solid #D7E2E8;
  border-bottom: 1px solid #D7E2E8;
}

.catalog-content .sidebar-menu ul li:hover, .catalog-content .sidebar-menu ul li:focus {
  background: #D1E5EF;
}

.catalog-content .sidebar-menu ul li:first-of-type {
  border-radius: 4px 4px 0px 0px;
  border: 1px solid #D7E2E8;
}

.catalog-content .sidebar-menu ul li:last-of-type {
  border-radius: 0px 0px 4px 4px;
  border-left: 1px solid #D7E2E8;
  border-right: 1px solid #D7E2E8;
  border-bottom: 1px solid #D7E2E8;
}

.catalog-content .sidebar-menu ul li a {
  padding: 17px 24px 16px 24px;
  display: block;
  text-decoration: none;
  font-size: 14px;
  line-height: 16px;
  color: #384951;
}

.catalog-content .sidebar-menu ul li .active {
  background: #008DD2;
  color: #ffffff;
}

.catalog-content .catalog-items-wrapper {
  width: 968px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contacts h2 {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #384951;
  padding-bottom: 54px;
}

.contacts .contacts-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contacts .contacts-wrapper .contacts-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 350px;
}

.contacts .contacts-wrapper .contacts-info .address {
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: #94A2A8;
  margin-bottom: 10px;
  position: relative;
  padding-left: 30px;
}

.contacts .contacts-wrapper .contacts-info .address:before {
  content: "";
  background-image: url("../img/facebook-icon.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 14px;
  height: 20px;
  display: block;
  position: absolute;
  top: 5px;
  left: 0;
  margin-right: 10px;
}

.contacts .contacts-wrapper .contacts-info .telephone {
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: #94A2A8;
  margin-bottom: 10px;
  position: relative;
  padding-left: 30px;
}

.contacts .contacts-wrapper .contacts-info .telephone:before {
  content: "";
  background-image: url("../img/tel-icon.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 13px;
  height: 20px;
  display: block;
  position: absolute;
  top: 5px;
  left: 0;
  margin-right: 10px;
}

.contacts .contacts-wrapper .contacts-info .mail {
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: #94A2A8;
  margin-bottom: 10px;
  position: relative;
  padding-left: 30px;
}

.contacts .contacts-wrapper .contacts-info .mail:before {
  content: "";
  background-image: url("../img/mail-icon.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 20px;
  height: 16px;
  display: block;
  position: absolute;
  top: 5px;
  left: 0;
  margin-right: 10px;
}

.contacts .contacts-wrapper .contacts-info address {
  font-size: 14px;
  line-height: 23px;
  color: #000000;
  margin-bottom: 10px;
  padding-left: 30px;
}

.contacts .contacts-wrapper .contacts-info a {
  color: #000000;
  font-size: 14px;
  line-height: 23px;
  text-decoration: none;
  display: block;
  padding-left: 30px;
}

.contacts .contacts-wrapper .contacts-info a:nth-of-type(3) {
  margin-bottom: 10px;
}

.contacts .contacts-wrapper .contacts-map {
  padding-bottom: 80px;
}

.contacts .contacts-wrapper .contacts-map img {
  width: 746px;
  height: 400px;
}

.video-content {
  padding-bottom: 50px;
}

.video-content h2 {
  padding-bottom: 53px;
}

.video-content .videos-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.video-content .videos-wrapper iframe {
  width: 413px;
  height: 260px;
  margin-bottom: 30px;
}

.product-content .product-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product-content .product-wrapper .product-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 554px;
}

.product-content .product-wrapper .product-images .product-images-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 414px;
  width: 132px;
}

.product-content .product-wrapper .product-images .product-images-wrapper img {
  width: 132px;
  height: 132px;
  -o-object-fit: contain;
     object-fit: contain;
}

.product-content .product-wrapper .product-images img {
  width: 414px;
  height: 414px;
  -o-object-fit: contain;
     object-fit: contain;
}

.product-content .product-wrapper .product-info {
  width: 635px;
  height: 635px;
  margin-bottom: 57px;
}

.product-content .product-wrapper .product-info .product-info-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 32px;
}

.product-content .product-wrapper .product-info .product-info-links li {
  padding: 0;
  display: block;
}

.product-content .product-wrapper .product-info .product-info-links li:before {
  content: "";
  margin: 0;
}

.product-content .product-wrapper .product-info .product-info-links li a {
  background: #FFFFFF;
  border: 1px solid #D7E1E8;
  border-radius: 4px 0px 0px 4px;
  font-size: 14px;
  line-height: 16px;
  color: #94A2A8;
  padding: 14px 63px 13px 63px;
  text-decoration: none;
}

.product-content .product-wrapper .product-info .product-info-links li .item-active {
  background: #008DD2;
  color: #FFFFFF;
  border: 1px solid #008DD2;
}

.product-content .product-wrapper .product-info .product-info-links li:nth-child(2) a {
  background: #FFFFFF;
  border: 1px solid #D7E1E8;
  border-radius: 0px 4px 4px 0px;
  font-size: 14px;
  line-height: 16px;
  color: #94A2A8;
  padding: 14px 42px 13px 42px;
}

.product-content .product-wrapper .product-info .product-info-links li:nth-child(2) .item-active {
  background: #008DD2;
  color: #FFFFFF;
  border: 1px solid #008DD2;
}

.product-content .product-wrapper .product-info .product-info-links li:nth-child(3) {
  margin-left: auto;
}

.product-content .product-wrapper .product-info .product-info-links li:nth-child(3) a {
  margin-left: auto;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  background: #F66767;
  border-radius: 4px;
  padding: 14px 36px 13px 36px;
  text-decoration: none;
}

.product-content .product-wrapper .product-info .product-text-action {
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
  color: #F66767;
  background: #FBE8E8;
  border-radius: 4px;
  padding: 25px 67px 32px 24px;
  margin-bottom: 32px;
}

.product-content .product-wrapper .product-info p {
  font-size: 14px;
  line-height: 23px;
  color: #000000;
  padding-bottom: 20px;
}

.product-content .product-wrapper .product-info h3 {
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  padding-bottom: 20px;
}

.product-content .product-wrapper .product-info .product-description .description-title table tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-content .product-wrapper .product-info .product-description .description-title table tr td {
  font-size: 14px;
  line-height: 33px;
  color: #94A2A8;
  width: 303px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.product-content .product-wrapper .product-info .product-description .description-title table tr td:nth-child(2) {
  font-size: 14px;
  line-height: 33px;
  color: #384951;
  width: 302px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.product-content .product-wrapper .product-info ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 10px;
}

.product-content .product-wrapper .product-info ul li:before {
  content: "—";
  margin-right: 5px;
}

.product-content h2 {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #008DD2;
  margin-bottom: 53px;
}

.product-content .recomended-items {
  margin-bottom: 80px;
}

.product-content .recomended-items .items-wrapper .item-wrapper {
  margin: 0;
}
/*# sourceMappingURL=styles.css.map */